services:
  - type: web
    name: chatcrm-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 22.16.0
      - key: PORT
        value: 5000
      - key: NODE_ENV
        value: production
